[run]
omit =
    # omit everything in /usr very important !
    /usr/*
    */local-worker/*

[html]
omit =
    # omit everything in /usr very important !
    /usr/*
    */local-worker/*
    */tests/*
