name: build_docs

# Controls when the workflow will run
on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build_docs:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python: ["3.9"]
        # python: ["3.9", "3.10", "3.11"]  # TODO: expand to other pythons
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
          GIT_USERNAME: ${{ secrets.GIT_USERNAME }}
        run: |
          python -m pip install --upgrade pip
          pip install -e ".[all_extra]"
      - name: Compile docs
        run: |
          cd docs
          make clean html
      - name: Publish docs to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/build/html/
          force_orphan: true
